body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f7f7f9;
    color: #333;
}
h1 {
    font-weight: lighter;
}
img {
    width: 181px;
}
.container {
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    margin-top: 5%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
